/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* color palette */

:root {
	--color-dark-blue: hsl(223, 47%, 23%);
	--color-bright-blue: hsl(245, 75%, 52%);
	--color-desaturated-blue: hsl(224, 23%, 55%);
	--color-pale-blue: hsl(225, 100%, 94%);
	--color-very-pale-blue: hsl(225, 100%, 98%);
}

/* default reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Red Hat Display', sans-serif;
	background-color: var(--color-pale-blue);
	background-image: url(images/pattern-background-desktop.svg);
	background-repeat: no-repeat;
}

p {
	font-size: 16px;
}

/* main container */

.container-fluid {
	width: 100%;
	min-height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	overflow: hidden;
}

/* card container & rows */

.card-container {
	width: 100%;
	max-width: 350px;
	border-radius: 20px;
	background: #fff;
	overflow: hidden;
}

.top-row img {
	width: 100%;
}

.bottom-row {
	padding: 2.5rem 2rem;
	text-align: center;
}

/* information */

.information h1 {
	font-weight: 900;
	font-size: 1.5rem;
	color: var(--color-dark-blue);
}

.information p {
	padding-top: 0.5rem;
	font-weight: 500;
	font-size: 0.8rem;
	color: var(--color-desaturated-blue);
}

/* plan info */

.plan-info {
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	background: var(--color-very-pale-blue);
}

.plan-info i {
	padding: 0.9rem;
	font-size: 1.1rem;
	color: var(--color-desaturated-blue);
	border-radius: 100px;
	background: var(--color-pale-blue);
}

.plan-info-data {
	display: block;
	margin-top: 1rem;
	margin-right: 3rem;
}

#plan-type {
	font-weight: 900;
	font-size: 0.8rem;
}

#plan-price {
	margin-top: -15px;
	font-weight: 500;
	font-size: 0.8rem;
	color: var(--color-desaturated-blue);
}

.plan-info a {
	font-weight: 700;
	font-size: 0.8rem;
	color: var(--color-bright-blue);
}

.plan-info a:hover {
	color: hsl(243, 76%, 66%);
}

/* order info */

.order-info {
	margin-top: 1rem;
}

.btn {
	display: block;
	width: 100%;
	padding: 0.8rem 0;
	margin-bottom: 1rem;
	font-weight: 700;
	font-size: 0.8rem;
	color: var(--color-very-pale-blue);
	border-radius: 10px;
	background: var(--color-bright-blue);
	box-shadow: 1px 10px 10px 5px var(--color-pale-blue);
	border: none;
}

.btn:hover {
	color: var(--color-very-pale-blue);
	background: hsl(243, 76%, 66%);
	border: none;
}

.cancel {
	font-weight: 700;
	font-size: 0.8rem;
	color: var(--color-desaturated-blue);
	text-decoration: none;
}

.cancel:hover {
	color: var(--color-dark-blue);
}

@media (max-width: 500px) {
	.plan-info {
		padding: 0.2rem 1rem;
	}

	.plan-info-data {
		margin-right: 1.5rem;
	}
}

@media (max-width: 375px) {
	.plan-info-data {
		margin-right: 1rem;
	}
}
